openapi: 3.2.0
info:
  title: Yale University Identity Metadata Federation API
  description: Machine-readable SAML 2.0 identity-federation surface operated by Yale University.
  version: '2.0'
  contact:
    name: Yale University ITS — Identity and Access Management
    url: https://its.yale.edu/
servers:
- url: https://auth.yale.edu
  description: Yale Shibboleth Identity Provider (institution-operated)
tags:
- name: Federation
  description: SAML 2.0 entity metadata
paths:
  /idp/shibboleth:
    get:
      tags:
      - Federation
      operationId: getIdpMetadata
      summary: Retrieve Yale's SAML 2.0 identity provider metadata
      description: Returns the signed SAML 2.0 EntityDescriptor for Yale University's Shibboleth Identity Provider, including its signing and encryption key descriptors, supported protocols, SingleSignOnService and ArtifactResolutionService endpoints, the shibmd:Scope asserted for the yale.edu namespace, and the Organization and ContactPerson blocks. Verified 200 with content-type application/xml on 2026-08-19.
      responses:
        '200':
          description: SAML 2.0 EntityDescriptor document.
          content:
            application/xml:
              schema:
                type: string
                format: xml
                description: urn:oasis:names:tc:SAML:2.0:metadata EntityDescriptor with entityID https://auth.yale.edu/idp/shibboleth.
externalDocs:
  description: SAML V2.0 Metadata specification
  url: https://docs.oasis-open.org/security/saml/v2.0/saml-metadata-2.0-os.pdf
