openapi: 3.0.3
info:
  title: LUX Yale Collections Discovery Configuration Documents API
  description: Public read API for LUX, Yale's cross-collection discovery platform providing unified access to more than 41 million records across Yale's museums, archives and library collections. Entities are served as Linked Art JSON-LD. This description documents the public middle-tier endpoints exposed under https://lux.collections.yale.edu and was derived from the open-source LUX backend API usage documentation and Postman collection (github.com/project-lux/lux-marklogic) and confirmed against live responses. Only the public read endpoints are described here; write/admin endpoints from the backend custom API are intentionally omitted.
  version: 1.0.0
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
  contact:
    name: LUX Yale Collections Discovery
    url: https://lux.collections.yale.edu/content/technology
servers:
- url: https://lux.collections.yale.edu
  description: LUX public production
tags:
- name: Documents
  description: Linked Art JSON-LD document retrieval
paths:
  /data/{type}/{id}:
    get:
      tags:
      - Documents
      operationId: getDocument
      summary: Retrieve a Linked Art document
      description: Retrieves a single entity as a Linked Art JSON-LD document by its type and identifier.
      parameters:
      - name: type
        in: path
        required: true
        description: Entity type segment (e.g. object, work, person, group, place, concept, set, event).
        schema:
          type: string
      - name: id
        in: path
        required: true
        description: Entity identifier (UUID).
        schema:
          type: string
      responses:
        '200':
          description: A Linked Art JSON-LD document.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LinkedArtEntity'
        '404':
          description: Document not found.
components:
  schemas:
    LinkedArtEntity:
      type: object
      description: A Linked Art JSON-LD entity document. Fields follow the CIDOC-CRM derived Linked Art model; common fields are listed but additional properties are permitted.
      properties:
        '@context':
          type: string
          format: uri
        id:
          type: string
          format: uri
        type:
          type: string
          example: HumanMadeObject
        _label:
          type: string
        identified_by:
          type: array
          items:
            type: object
        classified_as:
          type: array
          items:
            type: object
        referred_to_by:
          type: array
          items:
            type: object
        member_of:
          type: array
          items:
            type: object
        equivalent:
          type: array
          items:
            type: object
        subject_of:
          type: array
          items:
            type: object
        representation:
          type: array
          items:
            type: object
        shows:
          type: array
          items:
            type: object
        dimension:
          type: array
          items:
            type: object
        _links:
          type: object
      required:
      - id
      - type
      additionalProperties: true
