openapi: 3.2.0
info:
  title: Yale Dataverse Repository Info API
  description: 'Public read endpoints of Yale Dataverse (https://dataverse.yale.edu), Yale University''s institutional research-data repository. Yale self-hosts the open-source Dataverse software (version 6.10.1 at time of probe) on its own AWS infrastructure under its own registrable domain, mints its own DataCite DOI prefix (10.60600), and holds 279 published datasets across sub-dataverses including the ISPS Data Archive.

    IMPORTANT PROVENANCE NOTE. The Dataverse software generates a complete machine-readable contract at https://dataverse.yale.edu/openapi. That document is titled "Dataverse API", describes "Open source research data repository software", and is byte-identical across every Dataverse installation in the world — it is the SOFTWARE PROJECT''S contract, not Yale''s engineering, and it is deliberately NOT saved into this repository. What is described here is only the subset of endpoints that were called against Yale''s deployment and observed to respond, with Yale''s own server URL. Yale operates the deployment and owns the data; the Dataverse Project (IQSS, Harvard University) authored the API design.'
  version: 6.10.1
  contact:
    name: Yale University Library — Yale Dataverse
    url: https://dataverse.yale.edu/
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
servers:
- url: https://dataverse.yale.edu
  description: Yale Dataverse production (institution-operated)
tags:
- name: Info
  description: Deployment identity, version and metrics
paths:
  /api/info/version:
    get:
      tags:
      - Info
      operationId: getVersion
      summary: Get the Dataverse software version of this deployment
      description: Returns the Dataverse release and build running at Yale. Verified 200 on 2026-08-19.
      responses:
        '200':
          description: Version envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusEnvelope'
              example:
                status: OK
                data:
                  version: 6.10.1
                  build: master-300d5b5
  /api/v1/info/server:
    get:
      tags:
      - Info
      operationId: getServer
      summary: Get the canonical hostname of this installation
      description: Returns the installation hostname. Verified 200 returning dataverse.yale.edu on 2026-08-19.
      responses:
        '200':
          description: Server identity envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusEnvelope'
              example:
                status: OK
                data:
                  message: dataverse.yale.edu
  /api/info/metrics/datasets:
    get:
      tags:
      - Info
      operationId: getDatasetMetrics
      summary: Count published datasets
      description: Returns the number of published datasets in this installation. Verified 200 returning 279 on 2026-08-19.
      responses:
        '200':
          description: Dataset count envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusEnvelope'
              example:
                status: OK
                data:
                  count: 279
  /api/metadatablocks/{name}:
    get:
      tags:
      - Info
      operationId: getMetadataBlock
      summary: Retrieve a metadata block definition
      description: Returns the field definitions for a named metadata block. The citation block on this deployment declares ORCID among its author-identifier schemes. Verified 200 on 2026-08-19.
      parameters:
      - name: name
        in: path
        required: true
        description: Metadata block name, e.g. citation.
        schema:
          type: string
      responses:
        '200':
          description: Metadata block envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusEnvelope'
        '404':
          description: No such metadata block.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
components:
  schemas:
    StatusEnvelope:
      type: object
      description: Standard Dataverse response envelope for a successful call.
      required:
      - status
      - data
      properties:
        status:
          type: string
          enum:
          - OK
        data:
          type: object
          additionalProperties: true
    ErrorEnvelope:
      type: object
      description: Standard Dataverse response envelope for a failed call.
      required:
      - status
      - message
      properties:
        status:
          type: string
          enum:
          - ERROR
        message:
          type: string
externalDocs:
  description: Upstream Dataverse Project API guide (the software vendor's documentation, not Yale's)
  url: https://guides.dataverse.org/en/latest/api/
